USE_TEST_DATA = ""

# --- Input data ---
DATA_BASE_PATH = ""
DATA_TEST_PATH = ""
# Sub-paths
USER_POSTS = ""

# Output paths
TOPICS_OUTPUT_PATH = ""
GENERAL_OUTPUT_PATH = ""

# Misc
MAX_WORKERS = ""
VERBOSE = ""