# --- Config ---
MAX_WORKERS = ""
VERBOSE = ""

# --- Bluesky data paths ---
# Whether to use a sample
USE_TEST_DATA = ""
# Path to the data repository roots (full vs sampled version respectively)
DATA_BASE_PATH = ""
DATA_TEST_PATH = ""
# Sub-path to the user posts (as in the original dataset)
USER_POSTS = ""

# --- Output paths ---
TOPICS_PATH = ""
GENERAL_PATH = ""

# --- Other ---
HASHTAG_COUNTS_PATH = ""
# Large data sample for tf-idf purposes
BACKGROUND_CORPUS_PATH = ""
# Used in Jupyter Notebooks
REPO_DIR_PATH = ""